[openSUSE]
enabled=1
autorefresh=1
url = dir:/usr/share/zypp/local/service/openSUSE
type = ris
repo_1=openSUSE:repo-non-oss
repo_1_enabled=1
repo_1_autorefresh=1
repo_2=openSUSE:repo-openh264
repo_2_enabled=1
repo_2_autorefresh=1
repo_3=openSUSE:repo-oss
repo_3_enabled=1
repo_3_autorefresh=1
repo_4=openSUSE:repo-oss-debug
repo_4_enabled=0
repo_4_autorefresh=1
repo_5=openSUSE:repo-oss-source
repo_5_enabled=0
repo_5_autorefresh=1
repo_6=openSUSE:update-tumbleweed
repo_6_enabled=1
repo_6_autorefresh=1
